body {
  background-color: whitesmoke;
}

button {
  margin: 10px;
  padding: 10px 30px;
  background-color: whitesmoke;
  border: none;
  color: #161a20;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

button::after {
  content: '';
  position: absolute;
  height: 107%;
  width: 102%;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #ff7e5f, #feb47b);
  z-index: -1;
}

button:hover {
  color: whitesmoke;
  z-index: 0;
  cursor: pointer;
  box-shadow: 10px 0 25px #008cff85, -10px 0 25px #e100ff77;
}
button:active {
  transform: scale(0.95);
}

textarea {
  width: 400px;
  height: 500px;
  background-color: rgb(248, 208, 148);
  border: none;
  padding: 15px;
  color: #0616f4;
  font-size: 16px;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: box-shadow 0.5s ease-in-out;
}
textarea:hover {
  box-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

::placeholder {
  color: #161a20;
  opacity: 0.7;
  font-style: italic;
}

*:focus {
  outline: none;
}
